// Colors
$clr-primary: #D52047;
$clr-secondary: #16143D;
$clr-accent: #ED4C5C;
$section-bg:#FAFAFA;
$neutral-50:#F8FAFC;
$neutral-100:#F1F5F9;
$neutral-200:#E2E8F0;
$neutral-300:#CBD5E1;
$neutral-400:#94A3B8;
$neutral-500:#64748B;
$neutral-600:#475569;
$neutral-700:#334155;
$neutral-800:#1E293B;
$neutral-900:#0F172A;

// Typescale
$body-reg:1.6rem;
$body-sm:1.4rem;
$body-xs:1.2rem;
$body-lg-mb:1.8rem;
$body-lg-tb:2.1rem;
$body-lg-dt:2.3rem;
$display-sm-mb: 3.6rem;
$display-sm-tb: 4.4rem;
$display-sm-dt: 5.7rem;
$display-lg-mb: 4.1rem;
$display-lg-tb: 5.1rem;
$display-lg-dt: 6.9rem;
$heading-one-mb:3.2rem;
$heading-one-tb:3.8rem;
$heading-one-dt:4.8rem;
$heading-two-mb:2.9rem;
$heading-two-tb:3.3rem;
$heading-two-dt:4.0rem;
$heading-three-mb:2.6rem;
$heading-three-tb:2.8rem;
$heading-three-dt:3.3rem;

// Spacings
$header-height: 5rem;