.technology{
    background-color: #fff;
    padding: 5rem 0;

    & .tech-container{
        @include con(lg);
        text-align: center;
        margin: 3rem auto;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    @include mq(sm){
        & .tech-container{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}